* {
margin: 0;
padding:0;
box-sizing: border-box;
}

.header {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 0 150px;
    background-color: #fef8d4;
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 150px;
    background-color: #333333;
    height: 50px;
}
nav a { 
    text-decoration: none;
    color: white;
}
.logoLink {
    height: 50px;
    background-color:#ca1920;
    margin: 0 5px 0 0 ;
}
.logoLink img {
    padding: 50px 0 0 0;
    width: 100px;
}

.leftNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftNav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
    text-decoration: none;
}
 
.rightNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rightNav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
}
.carousel{
    height: 62vh;
    width: 100%;
    position: relative;
}
.carouselImage {
    height: 100%;
    width: 100%;
}
.recentArticles {
    margin: 150px 0 0 150px;
    position: absolute;
    color: white;
}
.articleButton {
    margin: 30px 0 0 150px;
    padding: 7px;
    background-color:#ca1920;
    color: white;
    border: none;
    border-radius: 3px; 
}
.emiratesPass {
    font-family:cursive;
}
.carouselList {
    display: flex;
    margin: 0 150px 0 150px;
    position: absolute;
    list-style-type: none;
    bottom: 0;
    background-color:#ffffff;
}
.carouselList a {
    text-decoration: none;
}
.carouselList li {
    padding: 20px;
    width:285px;
    border: 1px solid white;
    text-align: center;
    background-color: #ffffff;
    color: #666666;
}
.quickAccess {
    margin: 0 135px 0 150px;
    position: relative;
    background-color: #ffffff;
    height: 24.5vh; 
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.buttonGroup {
    display: flex;
    margin: 0 0 0 20px;
}
.buttonGroup button {
    padding: 5px 20px;
    margin: 15px 0 0 0;
    border: solid gray;
}
.quickAccessLink {
    color: #ca1920;
    top: 60px;
    left: 650px;
    position: absolute;
}
.quickAccessForm input{
    padding: 15px;
    margin: 60px 10px 0 20px;
    width: 350px;
    height: 65px;
}
.quickAccessForm button {
    padding: 15px;
    width: 340px;
    margin: 0 5px;
    height: 65px;
    background-color: #ca1920;
    color: white;
    border: none;
}
section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
section ul {
    position: absolute;
    left: 0;
    top: 40px;
    display: flex;
    list-style-type: none;
    border: #333333 solid 0.5px;
    margin: 30px 150px;
}
section ul li {
    text-align: center;
    padding: 30px 45px;
    border: #333333 solid 0.5px;
}