* {
margin: 0;
padding:0;
box-sizing: border-box;
}

.header {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 0 150px;
    background-color: #fef8d4;
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 150px;
    background-color: #333333;
    height: 50px;
}
nav a {
    text-decoration: none;
    color: white;
}
.logoLink {
    height: 50px;
    background-color:#ca1920;
    margin: 0 5px 0 0 ;
}
.logoLink img {
    padding: 50px 0 0 0;
    width: 100px;
}

.leftNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftNav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
    text-decoration: none;
}


.rightNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rightNav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
}