* {
margin: 0;
padding:0;
box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: ;
}

.leftNav {
    display: flex;
}
.leftNav ul {
    display: flex;
}
.rightNav {
    display: flex;
}