* {
margin: 0;
padding:0;
box-sizing: border-box;
}

.header {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 0 150px;
    background-color: #fef8d4;
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 150px;
    background-color: #333333;
    height: 50px;
}
nav a {
    text-decoration: none;
    color: white;
}
.logoLink {
    height: 50px;
    background-color:#ca1920;
    margin: 0 5px 0 0 ;
}
.logoLink img {
    padding: 50px 0 0 0;
    width: 100px;
}

.leftNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftNav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
    text-decoration: none;
}
 
.rightNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rightNav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
}
.carousel{
    height: 60vh;
    width: 100%;
    position: relative;
}
.carouselImage {
    height: 100%;
    width: 100%;
}
.recentArticles {
    margin: 150px 0 0 150px;
    position: absolute;
    color: white;
}
.articleButton {
    margin: 30px 0 0 150px;
    padding: 7px;
    background-color:#ca1920;
    color: white;
    border: none;
    border-radius: 3px; 
}
.emiratesPass {
    font-family:cursive;
}
.carouselList {
    display: flex;
    margin: 0 150px 0 150px;
    position: absolute;
    list-style-type: none;
}
.carouselList a {
    text-decoration: none;
}
.carouselList li {
    padding: 20px;
    width:250px;
}